In [30]:
# import libraries
import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
import time
import requests
from bs4 import BeautifulSoup
import warnings 
warnings.filterwarnings('ignore')

In [31]:
# Activeting the chrome browser
driver = webdriver.Chrome('chromedriver.exe')
time.sleep(3)

1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [32]:

url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)
time.sleep(6)

2. Scrape the details team India‚Äôs international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1
st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [33]:
# connecting the url with driver
url = 'https://www.bcci.tv/'
driver.get(url)
time.sleep(3)

# clicking on international match
international = driver.find_element_by_xpath('//li[@class="nav-item ml-0"]').click()

In [34]:
# empty list
match_ti = []
series = []
place = []
date = []
times = []

# use for loop
match_t = driver.find_elements_by_xpath('//span[@class="matchOrderText ng-binding ng-scope"]')
for i in match_t:
    match_ti.append(i.text)   
time.sleep(6)

series_tag = driver.find_elements_by_xpath('//span[@class="ng-binding"]')
for i in series_tag:
    series.append(i.text)
time.sleep(3)

place_tags = driver.find_elements_by_xpath('//span[@class="ng-binding ng-scope"]')
for i in place_tags:
    place.append(i.text)
time.sleep(3)    
    
date_tags = driver.find_elements_by_xpath('//h5[@class="ng-binding"]')
for i in date_tags:
    date.append(i.text)
time.sleep(3)    
    
time_tags = driver.find_elements_by_xpath('//h5[@class="text-right ng-binding"]')
for i in time_tags:
    times.append(i.text)
time.sleep(3)

# Make DataFrame
data = pd.DataFrame({})
data['Match_title'] = match_ti
data['Series'] = series
data['Place'] = place
data['Date'] =date
data['Time'] =time
data

,Match_title,Series,Place,Date,Time
0,NaN,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Arun Jaitley Stadium,",9 JUN 2022,<module 'time' (built-in)>
1,NaN,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Barabati Stadium,",12 JUN 2022,<module 'time' (built-in)>
2,NaN,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadium,",14 JUN 2022,<module 'time' (built-in)>
3,NaN,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Saurashtra Cricket Association Stadium,",17 JUN 2022,<module 'time' (built-in)>
4,NaN,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"M Chinnaswamy Stadium,",19 JUN 2022,<module 'time' (built-in)>

3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code

In [35]:
url = 'https://www.guru99.com/'
driver.get(url)

4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)
D) GSDP(17-18)
E) Share(2017)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code

In [59]:
# connect the url with driver
url = 'http://statisticstimes.com/'
driver.get(url)

In [69]:
# click on economy
economy = driver.find_element_by_xpath('//button[@class="dropbtn"]').click()
time.sleep(3)
# click on india
india = driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]').click()
time.sleep(3)

# close ads
try:
    ad = driver.find_element_by_xpath('/html/body/div/div/div[1]/div[1]').click()
except:
    pass

# click on gdp of india
#gdp = driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()

# Extract all tags
rank_tag = driver.find_elements_by_xpath('//td[@class="data1"]')
state_tag = driver.find_elements_by_xpath('//td[@class="name"]')
gsdp_tag = driver.find_elements_by_xpath('//td[@class="data sorting_1"]')
gdp_billion_tag = driver.find_elements_by_xpath('//td[@class="data"]')


# make empty list
rank = []
state =[]
gsdp =[]
gdp_billion = []

# use for loop
for i in rank_tag:
    rank.append(i.text)
for i in state_tag:
    state.append(i.text)
for i in gsdp_tag:
    if i is None:
        gsdp.append('--')
    else:
        gsdp.append(i.text)
for i in gdp_billion_tag:
    gdp_billion.append(i.text)

# Make dataframe
data = pd.DataFrame({}) 
data['Rank'] =rank [0:66]
data['State'] = state[0:66]
data['GSDP(18-19)'] = gsdp[0:66]
data['GDP_BILLION'] =  gdp_billion[0:66]
data

ElementNotInteractableException: Message: element not interactable
  (Session info: chrome=101.0.4951.54)
Stacktrace:
Backtrace:
	Ordinal0 [0x00AFB8F3+2406643]
	Ordinal0 [0x00A8AF31+1945393]
	Ordinal0 [0x0097C610+837136]
	Ordinal0 [0x009AA2D3+1024723]
	Ordinal0 [0x009A0083+983171]
	Ordinal0 [0x009C427C+1131132]
	Ordinal0 [0x0099FA64+981604]
	Ordinal0 [0x009C4494+1131668]
	Ordinal0 [0x009D4682+1197698]
	Ordinal0 [0x009C4096+1130646]
	Ordinal0 [0x0099E636+976438]
	Ordinal0 [0x0099F546+980294]
	GetHandleVerifier [0x00D69612+2498066]
	GetHandleVerifier [0x00D5C920+2445600]
	GetHandleVerifier [0x00B94F2A+579370]
	GetHandleVerifier [0x00B93D36+574774]
	Ordinal0 [0x00A91C0B+1973259]
	Ordinal0 [0x00A96688+1992328]
	Ordinal0 [0x00A96775+1992565]
	Ordinal0 [0x00A9F8D1+2029777]
	BaseThreadInitThunk [0x7630FA29+25]
	RtlGetAppContainerNamedObjectPath [0x77D77A9E+286]
	RtlGetAppContainerNamedObjectPath [0x77D77A6E+238]

5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
ASSIGNMENT
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [38]:
# connecting the url with chromedriver
url = "https://github.com/"
driver.get(url)

In [39]:
# Make empty list
title = []
description =[]
contributors =[]
language =[]

# clicking on explore tab
explore = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary').click()
time.sleep(3)
# clicking on trending tab
trending = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a').click()
time.sleep(3)

# extracting all tabs
title_tag = driver.find_elements_by_xpath('//h1[@class="h3 lh-condensed"]')
description_tag =driver.find_elements_by_xpath('//p[@class="col-9 color-fg-muted my-1 pr-4"]')
contributors_tag =driver.find_elements_by_xpath('//a[@class="Link--muted d-inline-block mr-3"]')
language_tag = driver.find_elements_by_xpath('//span[@itemprop="programmingLanguage"]')

# using for loop
for i in title_tag:
    title.append(i.text)
for i in description_tag:
    if i.text is None:
        description.append('--')
    else:
        description.append(i.text)
for i in contributors_tag:
    contributors.append(i.text)
for i in language_tag:
    language.append(i.text)

#Make DataFrame
data = pd.DataFrame()
data['Title'] = title [0:20]
data['Description'] = description [0:20]
data['Contributors'] = contributors [0:20]
data['Language'] = language[0:20]
data

,Title,Description,Contributors,Language
0,facebookresearch / metaseq,Repo for external large-scale work,"1,463",Python
1,education / GitHubGraduation-2022,"Join the GitHub Graduation Yearbook and ""walk ...",111,JavaScript
2,freeCodeCamp / freeCodeCamp,freeCodeCamp.org's open-source codebase and cu...,404,TypeScript
3,scottbez1 / smartknob,Haptic input knob with software-defined endsto...,"2,793",C++
4,microsoft / PowerToys,Windows system utilities to maximize productivity,"345,410",C#
5,pyscript / pyscript,This repo contain the syllabus of the Hugging ...,"28,591",JavaScript
6,huggingface / deep-rl-class,Repository containing the game data for the ga...,"9,011",Jupyter Notebook
7,Dimbreath / GenshinData,Digital Forensics Guide,452,Python
8,mikeroyal / Digital-Forensics-Guide,A server software reimplementation for a certa...,"72,461",Java
9,Grasscutters / Grasscutter,"12 weeks, 26 lessons, 52 quizzes, classic Mach...","4,094",Jupyter Notebook
10,microsoft / ML-For-Beginners,The Modern Data Stack üê∞ ‚Äî Directus is an insta...,"6,203",TypeScript
11,directus / directus,Python notebooks with ML and deep learning exa...,340,Jupyter Notebook
12,Azure / MachineLearningNotebooks,üéÆ Refer√™ncias para Game Designers.,735,Rust
13,baptixta / game-design-refs,üìö ÂÖçË¥πÁöÑËÆ°ÁÆóÊú∫ÁºñÁ®ãÁ±ª‰∏≠Êñá‰π¶Á±çÔºåÊ¨¢ËøéÊäïÁ®ø,59,Shell
14,justjavac / free-programming-books-zh_CN,This repository contains .NET Documentation.,900,JavaScript
15,dotnet / docs,A layer 1 for everyone!,323,Shell
16,aptos-labs / aptos-core,SteamOS 3 (Holo) archiso configuration,191,C#
17,bhaiest / holoiso,Docker container for managing Nginx proxy host...,16,Python
18,NginxProxyManager / nginx-proxy-manager,Azure Quickstart Templates,"4,517",JavaScript
19,Azure / azure-quickstart-templates,CVNets: A library for training computer vision...,"1,708",PHP

6. Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code

In [40]:
url = 'http://www.billboard.com/'
driver.get(url)
time.sleep(3)

# clicking the hot 100
hot_100 = driver.find_element_by_xpath('//a[@class="c-link  lrv-a-unstyle-link lrv-u-color-brand-primary:hover lrv-a-hover-effect lrv-u-whitespace-nowrap lrv-u-color-grey-dark"]').click()

In [41]:
# Make the empty lists
song_name = []
artist_name = []
last_week_rank = []
peak_rank =[]
weeks=[]

In [42]:
# Scrape the song name
song_tag = driver.find_elements_by_id("title-of-a-story")
for i in song_tag:
    song_name.append(i.text)
song_name = song_name[6:403:4]

# Scrape the artist name
artist_tag1 = driver.find_elements_by_xpath('//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet"]')
artist_tag2 = driver.find_elements_by_xpath('//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]')
for i in artist_tag1:
    artist_name.append(i.text)
for i in artist_tag2:
    artist_name.append(i.text)
    
# Scrape the last_week_rank   
last_week = driver.find_elements_by_xpath('//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]')
for i in last_week:
    last_week_rank.append(i.text)
last_week_rank = last_week_rank[0:200:2]

# Scrape the peak_rank
peak_rank_tag =driver.find_elements_by_xpath('//li[@class="o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-hidden@mobile-max"]')
for i in peak_rank_tag:
    peak_rank.append(i.text)
peak_rank = peak_rank[1:200:2]

# Scrape the weeks on board
weeks_on_board_tag =driver.find_elements_by_xpath('//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]')
for i in weeks_on_board_tag:
    weeks.append(i.text)
weeks = weeks[1:200:2]

# make the DataFrame
data = pd.DataFrame({'Song_name':song_name,
                     'Artist_name':artist_name,
                     'Last_week_rank':last_week_rank,
                     'Peak_rank':peak_rank,'Weeks':weeks})
data

,Song_name,Artist_name,Last_week_rank,Peak_rank,Weeks
0,As It Was,Harry Styles,1,1,4
1,First Class,Jack Harlow,2,1,3
2,Heat Waves,Glass Animals,3,1,67
3,Big Energy,Latto,4,3,27
4,Enemy,Imagine Dragons X JID,5,5,23
...,...,...,...,...,...
95,Bones,Imagine Dragons,87,87,7
96,Hate Our Love,Queen Naija & Big Sean,94,88,3
97,Over,Lucky Daye,92,77,6
98,City Of Gods,"Fivio Foreign, Kanye West & Alicia Keys",84,46,10
99,Brambleton,Pusha T,-,100,1

7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [43]:
# This url connect with Chrome server
url = 'https://www.naukri.com/'
driver.get(url)

# Searching the job of Data Science
search = driver.find_element_by_xpath('//input[@class="suggestor-input "]')
search.send_keys('Data Science')
# clicking the search button
search.btn = driver.find_element_by_xpath('//div[@class="qsbSubmit"]').click()

In [44]:
# Make empty lists
name = []
designation =[]
company = []
skill = []
location = []

In [45]:
# Scrape the job name
name_tag = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
for i in name_tag:
    if i.text is None :
        name.append('--')
    else:
        name.append(i.text)
        
# scrape the designation
designation_tag = driver.find_elements_by_xpath('//div[@class="job-description fs12 grey-text"]')
for i in designation_tag:
    if i.text is None:
        designation.append("--")
    else:
        designation.append(i.text)
        
# Scrape the company name     
company_tag = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
for i in company_tag:
    if i.text is None :
        company.append('--')
    else:
        company.append(i.text)

# Scrape the skill        
skill_tag = driver.find_elements_by_xpath('//li[@class="fleft fs12 grey-text lh16 dot"]')
for i in skill_tag:
    if i.text is None:
        skill.append("--")
    else:
        skill.append(i.text)

# Scrape the locations        
locations=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
for i in locations:
    if i.text is None :
        location.append("--")
    else:
        location.append(i.text)
        
# Make the DataFrame
data = pd.DataFrame()
data['Name'] = name
data['Company'] = company
data['Designation'] = designation
data['Skill'] = skill [0:20]
data['Location'] =location
data

,Name,Company,Designation,Skill,Location
0,Analyst- Data Science,Accenture,Please note this role may require you to work ...,Data Science,Bangalore/Bengaluru
1,Senior AI Scientist - SAP Procurement Data Sci...,SAP India Pvt.Ltd,SummaryThe SAP Procurement Data Science Team s...,Predictive Modeling,Bangalore/Bengaluru
2,AI Scientist - SAP Procurement Data Science Team,SAP India Pvt.Ltd,Candidates with a bachelor s degree should hav...,data models,Bangalore/Bengaluru
3,Senior Data Science Analyst,Everi India,Azure (or cloud) are all highly preferredAdvan...,data mining,"Hyderabad/Secunderabad, Mangaluru/Mangalore, C..."
4,HCL || Data Science,HCL Technologies,Role: Data Science / Data Analytics Qualificat...,machine learning,"Chennai, Bangalore/Bengaluru, Delhi / NCR"
5,AI Developer - SAP Procurement Data Science Team,SAP India Pvt.Ltd,SummaryThe SAP Procurement Data Science Team s...,Analytics,Bangalore/Bengaluru
6,Data Science Associate Manager,Accenture,"BS in data science, computer science or a rela...",Python,Bangalore/Bengaluru
7,Team Lead/Consultant-Data Science,Accenture,Please note this role may require you to work ...,IT Skills,Bangalore/Bengaluru
8,Data Science Manager (NLP/NLG) MLOps Azure Dat...,Hexaware Technologies,Cloud ML experience in Azure Experience in imp...,Java,"Chennai, Bangalore/Bengaluru, Mumbai (All Areas)"
9,Team Lead / Consultant - Data Science,Accenture,Skill required: Data Science - Data Visualizat...,Data Science,Bangalore/Bengaluru
10,Data Science Analyst 2,AllianceData,"Job Summary Under supervision and guidance, th...",Machine Learning,Bangalore/Bengaluru
11,Opening For Manager / Sr. Manager Data Science,MSD Pharmaceuticals,A unique opportunity to be part of an Insight ...,Cloud,Pune
12,Data Science & Analytics,MORE RETAIL LIMITED,2 years of experience,SAP,Bangalore/Bengaluru
13,Senior Analyst - Data Science,Tiger Analytics India LLP,B Tech from Tier-1 college / MS or M Tech is p...,Procurement,Chennai
14,Team Lead/Consultant-Data Science,Accenture,Job DescriptionSkill required: Data Science - ...,Python,Mumbai
15,Team Lead/Consultant-Data Science,Accenture,Please note this role may require you to work ...,IT Skills,Mumbai
16,ACN - Applied Intelligence - CC - Data Science...,Accenture,QualificationsEducational Background/qualifica...,Java,Gurgaon/Gurugram
17,"Engineer - PDE (Deep Learning,Data Science,IIOT)",Micron Tech,Job Description SummaryAs PDE PCS/Metro/Proces...,Data Science,Hyderabad/Secunderabad
18,Lead - Data Science,Think360,"Experience of team handling, and client manage...",Machine Learning,Mumbai
19,Data Science/Data scientist| Product Company|5...,HighRadius,Should have at least 5+ years of experience wo...,Cloud,"Bhubaneswar, Hyderabad/Secunderabad"

8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [46]:
url = 'https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey%02compare/'
driver.get(url)

9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [51]:
#send get request to the webpage server to get the source code of the page
url = "https://www.imdb.com/list/ls095964455/"
page = requests.get(url)

#see page content
soup = BeautifulSoup(page.content)

# Make empty lists
name = []
year_span = []
genre = []
run_time = []
rating = []
votes = []

In [52]:
# Scrape Movies Name
movie_name = soup.find_all("h3", class_="lister-item-header")
for i in movie_name:
    for j in i.find_all("a"):
        name.append(j.text)

# Scrape the year Span
year = soup.find_all('span',class_="lister-item-year text-muted unbold")
for i in year:
    year_span.append(i.text)

# Scrape the Genre
genre_tag = soup.find_all('span',class_="genre")
for i in genre_tag:
    genre.append(i.text.replace("\n",""))
    
# Scrape the Run Time
run_time_tag = soup.find_all('span',class_="runtime")
for i in run_time_tag:
    run_time.append(i.text)
    
# Scrape the Rating
rating_tag = soup.find_all("div",class_="ipl-rating-star small")
for i in rating_tag:
      rating.append(float(i.text))
    
# Scrapie the Votes
votes_tag= soup.find_all('span', attrs={'name':'nv'})
for i in votes_tag:
    votes.append(i['data-value'])
    
# Make the DataFrame
imdb_list = pd.DataFrame ({'Name':name,
              'Year_span':year_span,
              'Genre':genre,
              'Run_time':run_time,
              'Rating':rating ,
              'Votes':votes})
imdb_list

,Name,Year_span,Genre,Run_time,Rating,Votes
0,Game of Thrones,(2011‚Äì2019),"Action, Adventure, Drama",57 min,9.2,1981258
1,Stranger Things,(2016‚Äì ),"Drama, Fantasy, Horror",51 min,8.7,986971
2,The Walking Dead,(2010‚Äì2022),"Drama, Horror, Thriller",44 min,8.2,944193
3,13 Reasons Why,(2017‚Äì2020),"Drama, Mystery, Thriller",60 min,7.5,282093
4,The 100,(2014‚Äì2020),"Drama, Mystery, Sci-Fi",43 min,7.6,241987
...,...,...,...,...,...,...
95,Reign,(2013‚Äì2017),"Drama, Fantasy",42 min,7.4,48560
96,A Series of Unfortunate Events,(2017‚Äì2019),"Adventure, Comedy, Drama",50 min,7.8,59194
97,Criminal Minds,(2005‚Äì2020),"Crime, Drama, Mystery",42 min,8.1,188887
98,Scream,(2015‚Äì2019),"Comedy, Crime, Drama",45 min,7.1,40032
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,226451

10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code

In [53]:
# Activeting the chrome brower
url = 'https://archive.ics.uci.edu/'
driver.get(url)
time.sleep(2)

In [54]:
# clicking on view all data sets
all_dataset = driver.find_element_by_xpath('/html/body/table[1]/tbody/tr/td[2]/span[2]').click()

In [55]:
# Make empty lists
dataset = []
datatype = []
task =[]
attribute_type =[]
no_of_instances =[]
no_of_attribute =[]
year =[]

In [56]:
# Scrape the Dataset name
dataset_tags =driver.find_elements_by_xpath('//p[@class="normal"]')
for i in dataset_tags:
    dataset.append(i.text)
dataset = dataset[8:4362:7]

# Scrape the Data Types
datatypes = driver.find_elements_by_xpath('//p[@class="normal"]')
for i in datatypes:
    datatype.append(i.text)
datatype = datatype[9:4362:7]

# Scrape the Task
task_tags =driver.find_elements_by_xpath('//p[@class="normal"]')
for i in task_tags:
    task.append(i.text)
task = task[10:5985:7]

# Scrape the Attribute Type
attribute_type_tag = driver.find_elements_by_xpath('//p[@class="normal"]')
for i in attribute_type_tag:
    attribute_type.append(i.text)
attribute_type = attribute_type[11:5985:7]

# Scrape the No of instances
no_of_instances_tag = driver.find_elements_by_xpath('//p[@class="normal"]')
for i in no_of_instances_tag:
    no_of_instances.append(i.text)
no_of_instances = no_of_instances[12:5985:7]

# Scrape the No of attribute
no_of_attribute_tag = driver.find_elements_by_xpath('//p[@class="normal"]')
for i in no_of_attribute_tag:
    no_of_attribute.append(i.text)
no_of_attribute = no_of_attribute[13:5985:7]

# Scrape the Year
year_tag = driver.find_elements_by_xpath('//p[@class="normal"]')
for i in year_tag:
    year.append(i.text)
year = year[14:5985:7]

# Make the data frame
data = pd.DataFrame({'Dataset':dataset,
                     'Datatype':datatype,
                     'Task':task ,
                     'Attribute_type':attribute_type,
                     'No_of_instances':no_of_instances,
                     'No_of_attribute':no_of_attribute,
                     'Year':year})

data

,Dataset,Datatype,Task,Attribute_type,No_of_instances,No_of_attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021

In [57]:
len(dataset),len(datatype),len(task),len(attribute_type),len(no_of_instances),len(no_of_attribute),len(year)

(622, 622, 622, 622, 622, 622, 622)