# WEB SCRAPING - ASSIGNMENT 2

In [17]:
# Import libraries
import pandas as pd
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')

In [18]:
driver = webdriver.Chrome('chromedriver.exe')

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [19]:

url = 'https://www.naukri.com/'
driver.get(url)

In [20]:
# finding web element using for search job bar using id
search_jobs = driver.find_element_by_class_name("suggestor-input")
search_jobs

# write on search bar
search_jobs.send_keys('Data Analyst')

# finding web element for search location bar using absolute xpath
search_location = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")
search_location.send_keys("Bangalore")

# clicking using xpath function for search bar button
search_btn = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_btn.click()

# let's extract all web elements tags
title_tags= driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
locn_tags  = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
company_tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
exp_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
skill_tags = driver.find_elements_by_xpath('//ul[@class="tags has-description"]')
designation_tags = driver.find_elements_by_xpath('//div[@class="job-description fs12 grey-text"]')


job_title = []     #empty list
location = []      #empty list
company_names = [] #empty list
experience = []    #empty list
skill = []         #empty list
designation = []   #empty list

# Using for loop to convert data to text.

for i in title_tags:
    job_title.append(i.text)
for i in locn_tags:
    location.append(i.text)
for i in company_tags:
    company_names.append(i.text)
for i in exp_tags:
    experience.append(i.text)
for i in skill_tags:
    skill.append(i.text)
for i in designation_tags:
    designation.append(i.text)
    
# Make DataFrame for first 10 rows    

Data = pd.DataFrame()
Data['Job_Titles'] = job_title[0:10]
Data['Location'] = location[0:10]
Data['Company'] = company_names[0:10]
Data['Experience'] = experience[0:10]
Data['Skill'] = skill[0:10]
Data['Designation'] = designation[0:10]
Data

,Job_Titles,Location,Company,Experience,Skill,Designation
0,Hiring For Data Analyst I(SQL & Python),Bangalore/Bengaluru,Clario India Pvt Ltd,0-2 Yrs,Data Analytics\nanalytical\nR\nSpotfire\nchain...,1. Should have minimum 1year of hands in exper...
1,Senior Data Analyst II,Bangalore/Bengaluru,Flipkart,3-6 Yrs,Computer science\nadobe analytics\nAnalytical\...,"Bachelors in Engineering, Computer Science, Ma..."
2,Senior Data Analyst,Bangalore/Bengaluru,Flipkart,3-8 Yrs,Excel\nPower BI\nSQL\ndimensional modelling\nH...,"Along with this, you will be expected to have ..."
3,Senior Data Analyst II,Bangalore/Bengaluru,Flipkart,2-4 Yrs,Data analysis\nAutomation\nData modeling\nAnal...,Able to envision & implement the optimal data ...
4,Senior Data Analyst II,Bangalore/Bengaluru,Flipkart,2-4 Yrs,Automation\nData analysis\nData modeling\nData...,Able to envision & implement the optimal data ...
5,Senior Data Analyst - Ads & Promotion Platform...,Bangalore/Bengaluru,Gojek,3-8 Yrs,Data analysis\nBidding\nSimulation\nMachine le...,A Bachelor s degree in any field At least 3 ye...
6,Hiring Data analyst with Pharma Background acr...,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",HCL,6-11 Yrs,data analysis\npharma\ndata collection\nanalyt...,Ability to perform data analysis & hands-on ex...
7,Data Coordinator | Data Analyst | MS Excel | T...,Bangalore/Bengaluru(Sadashiva Nagar),Inspiration Manpower Consultancy Pvt. Ltd.,4-7 Yrs,excel\ndata analysis\ntyping\nBPO\ncustomer se...,Roles and Responsibilities The Customer Servic...
8,Lead Data Analyst - Flipkart Data science group,Bangalore/Bengaluru,Flipkart,1-3 Yrs,Business Intelligence\nBi\nReporting\nsql,"Along with this, you will be expected to have ..."
9,Data Analyst,Bangalore/Bengaluru,Flipkart,7-12 Yrs,python\nMS Excel\nMySQL\nBusiness Intelligence...,DESIRED SKILLSET - Proven working experience a...

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [21]:
url = 'https://www.naukri.com/'
driver.get(url)

In [22]:
# finding web element using for search job bar using id
search_jobs = driver.find_element_by_class_name("suggestor-input")
search_jobs

# write on search bar
search_jobs.send_keys('Data Scientist')

# finding web element for search location bar using absolute xpath
search_locn = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")
search_locn.send_keys("Bangalore")

# clicking using xpath function for search bar button
search_btn = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_btn.click()

# let's extract all web elements tags
title_tags= driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
locn_tags  = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
company_tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
skill_tags = driver.find_elements_by_xpath('//ul[@class="tags has-description"]')
designation_tags = driver.find_elements_by_xpath('//div[@class="job-description fs12 grey-text"]')


job_title = []     #empty list
location = []      #empty list
company_names = [] #empty list
skill = []         #empty list
designation = []   #empty list

# Using for loop to convert data to text.

for i in title_tags:
    job_title.append(i.text)
for i in locn_tags:
    location.append(i.text)
for i in company_tags:
    company_names.append(i.text)
for i in skill_tags:
    skill.append(i.text)
for i in designation_tags:
    designation.append(i.text)
    
# Make DataFrame for first 10 rows    

Data = pd.DataFrame()
Data['Job_Titles'] = job_title[0:10]
Data['Location'] = location[0:10]
Data['Company'] = company_names[0:10]
Data['Skill'] = skill[0:10]
Data['Designation'] = designation[0:10]
Data

,Job_Titles,Location,Company,Skill,Designation
0,Sr . Data Scientist,Bangalore/Bengaluru,Visa,Unix\nComputer science\nVersion control\nSAS\n...,work experience with a Bachelor s Degree or 5 ...
1,Need Data scientists and data engineers - WFH-...,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M...",Covalense Technologies Private Limited,scientist\ndata engineering\nPython,Notice (need to join within 10-15 days only)
2,Principal Data Scientist,Bangalore/Bengaluru,Mobile Premier League,Computer science\nData analysis\ndata science\...,Bachelor s / Master s / PhD degree in Computer...
3,Data Scientist,"Pune, Gurgaon/Gurugram, Chennai, Bangalore/Ben...",HDFC Bank,analytics\npython\nr\ncredit risk\npredictive ...,Experience of 2+ years in Python / R in buildi...
4,Senior Data Scientist Payments,Bangalore/Bengaluru,AirSeva,Data Sets\nSQL Queries\nHive Databases\nAirflo...,Proficient in writing and understanding comple...
5,Computer Vision Python Data Scientist,"Mumbai, Hyderabad/Secunderabad, Pune, Chennai,...",OceanOfWeb,DL\nML\nNatural Language\ncommunication\nanaly...,The candidate should have worked on some core ...
6,Data Scientist,Bangalore/Bengaluru,Minions Ventures,Text mining\nData mining\nComputer Science\nMa...,• Use analytical rigor and statistical methods...
7,Data Scientist,Bangalore/Bengaluru,Gojek,Design engineering\ndata science\nMachine lear...,Experience working with cross-functional teams...
8,Lead Data Scientist,Bangalore/Bengaluru,Kyndryl,Unix\nIT services\nSAN\nPerformance tuning\nMa...,Willingness to work in nights shifts or suppor...
9,Data Scientist / Analyst,Bangalore/Bengaluru,open data fabric,Data Science\nData Analytics\nPower - BI\nBig ...,University / college degree in Computer Scienc...

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [27]:
url = 'https://www.naukri.com/'
driver.get(url)

In [28]:
# finding web element using for search job bar using id
search_job = driver.find_element_by_class_name('suggestor-input ')
search_job

# write on search bar
search_job.send_keys('Data Scientist')
# clicking using xpath function for search bar button
search_btn = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_btn.click()

# let's extract all web elements tags
job_titles = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
locn_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
company_names = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
exp_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
skill_tags = driver.find_elements_by_xpath('//ul[@class="tags has-description"]')
designation_tags= driver.find_elements_by_xpath('//div[@class="job-description fs12 grey-text"]')


job_title = []
location = []
company_name = []
exp = []
skill = []
designation = []


for i in job_titles:
    job_title.append(i.text)
for i in locn_tags:
    location.append(i.text)
for i in company_names:
    company_name.append(i.text)
for i in exp_tags:
    exp.append(i.text)
for i in skill_tags:
    skill.append(i.text)
for i in designation_tags:
    designation.append(i.text)

# Make DataFrame for first 10 rows 
Data = pd.DataFrame()
Data['Job_Title'] = job_title [0:10]
Data['Location'] = location [0:10]
Data['Company_name'] =company_name [0:10]
Data['Experience'] = exp [0:10]
Data['Skill'] = skill [0:10]
Data['Designation'] = designation [0:10]
Data

,Job_Title,Location,Company_name,Experience,Skill,Designation
0,Senior or Lead Data Scientist,Hyderabad/Secunderabad,Cyient,5-10 Yrs,IT Skills\nPython\nAzure\nsql queries\ndata an...,"University degree (minimum), ideally in comput..."
1,Looking For Senior / Lead Data Scientist with ...,Hyderabad/Secunderabad,Cyient,5-10 Yrs,Azure Data Factory\nAzureML\nData Scientist\nN...,"University degree (minimum), ideally in comput..."
2,Sr . Data Scientist,Bangalore/Bengaluru,Visa,6-8 Yrs,Unix\nComputer science\nVersion control\nSAS\n...,work experience with a Bachelor s Degree or 5 ...
3,Need Data scientists and data engineers - WFH-...,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M...",Covalense Technologies Private Limited,8-13 Yrs,scientist\ndata engineering\nPython,Notice (need to join within 10-15 days only)
4,Principal Data Scientist,Bangalore/Bengaluru,Mobile Premier League,8-12 Yrs,Computer science\nData analysis\ndata science\...,Bachelor s / Master s / PhD degree in Computer...
5,Data Scientist,"Pune, Gurgaon/Gurugram, Chennai, Bangalore/Ben...",HDFC Bank,1-6 Yrs,analytics\npython\nr\ncredit risk\npredictive ...,Experience of 2+ years in Python / R in buildi...
6,Hiring For Senior Data Scientist || Noida/Hyde...,"Noida, New Delhi, Hyderabad/Secunderabad, Gurg...",Tokopedia,2-4 Yrs,Logistic Regression\nNeural Networks\nUnsuperv...,About usTokopedia is an Indonesian unicorn tec...
7,Associate Data Scientist,Chennai,Shell,2-7 Yrs,Functional Analytics\nmachine learning\nDecisi...,The RolePurpose & accountabilitiesGeneral Posi...
8,Lead- Data Scientist FMCG/ Retail Analytics,Pune,Vertex Corporate Services,10-15 Yrs,Retail Analytics\nText Mining\nmachine learnin...,Position: Lead-Data Scientist FMCG/ Retail Ana...
9,Data Scientist/ Data Analyst- Permanent Remote...,Remote,Lending Tree Research Services LLP,1-6 Yrs,analytics\nR\ndata insight\ndata analysis\nExc...,Strong in Data analytics: The candidate should...

In [29]:
# clicking on location filter
location_filter = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/i')
location_filter.click()

In [30]:
# clicking on salary filter
salary_filter = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i')
salary_filter.click()

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands andmore” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this pageyou can scrap the
required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom ofthe page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.
Note: That all of the above steps have to be done by coding only and not manually.

In [31]:
url = 'https://www.flipkart.com/'
driver.get(url)

In [32]:
# close the pop up of log in
close = driver.find_element_by_xpath('/html/body/div[2]/div/div/button')
close.click()

In [33]:
# finding web element using for search product bar using id
search_product = driver.find_element_by_class_name('_3704LK')
search_product.send_keys('sunglasses')

# clicking on search button
search_btn = driver.find_element_by_xpath('/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_btn.click()

In [35]:
brand = []   # empty list
product = [] #empty list
price = []   #empty list

# using for loop for next page
for j in range(4):
    # let's extract all web elements tags
    brand_tags = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
    product_tags = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
    price_tags= driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
    for i in brand_tags:
        brand.append(i.text)
    for i in product_tags:
        product.append(i.text)
    for i in price_tags:
        price.append(i.text)
    next_btn = driver.find_element_by_xpath('//a[@class="_1LKTO3"]')
# Make DataFrame for first 100 rows 
Data = pd.DataFrame()
Data['Brand'] = brand [0:100]
Data['Product'] = product [0:100]
Data['Price'] =price [0:100]
Data

             Brand                                            Product   Price
0           PIRASO              UV Protection Cat-eye Sunglasses (55)    ₹314
1          Ray-Ban   UV Protection Rectangular Sunglasses (Free Size)  ₹3,479
2             SRPM             UV Protection Wayfarer Sunglasses (50)    ₹198
3           PIRASO              UV Protection Aviator Sunglasses (54)    ₹229
4           SUNBEE  UV Protection, Polarized Wayfarer Sunglasses (...    ₹253
..             ...                                                ...     ...
95         Ray-Ban  Mirrored, UV Protection Wayfarer Sunglasses (F...  ₹6,649
96          PIRASO         UV Protection Retro Square Sunglasses (53)    ₹250
97  kingsunglasses            Mirrored Aviator Sunglasses (Free Size)    ₹184
98      Lee Topper  UV Protection Retro Square Sunglasses (Free Size)    ₹199
99          PIRASO                   Mirrored Aviator Sunglasses (55)    ₹349

[100 rows x 3 columns]

5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC
TSVZAXUHGREPBFGI&marketplace.
When you will open the above link you will reach to the below shown webpage .
As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.
Note: All the steps required during scraping should be done through code only and not manually.

In [36]:
url = 'https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYL0BETT&marketplace=FLIPKART'
driver.get(url)

In [37]:
rating = []
review = []
full_review = []
# using for loop for next page
for d in range(10):
    #let's extract all web elements tags
    rating_tags = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
    review_tags = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
    full_review_tags = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
        
    for i in rating_tags:
        rating.append(i.text)
    for i in review_tags:
        review.append(i.text)
    for i in full_review_tags:
        full_review.append(i.text)
    next_btn = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]')
# Make DataFrame for first 100 rows
data = pd.DataFrame()
data['Rating'] = rating [0:100]
data['Review'] = review [0:100]
data['Full Review'] =full_review
data

,Rating,Review,Full Review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,5,Worth every penny,Previously I was using one plus 3t it was a gr...
96,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
97,4,Good choice,So far it’s been an AMAZING experience coming ...
98,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
99,5,Highly recommended,What a camera .....just awesome ..you can feel...

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the tick marked attributes.

Note: All the steps required during scraping should be done through code only and not manually

In [38]:
url = 'https://www.flipkart.com/'
driver.get(url)

In [39]:
# write on product in search bar
search_product = driver.find_element_by_class_name('_3704LK')
search_product.send_keys('sneakers')

In [40]:
# click on search button
search_btn = driver.find_element_by_xpath('/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_btn.click()

In [42]:
brand = []   # empty list
product = [] # empty list
price = []   # empty list
discount = []# empty list

#  using for loop for next page 
for k in range(3):
    # let's extract all web elements tas
    brand_tags = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
    product_tags = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
    price_tags = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
    discount_tags = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
    
    for i in brand_tags:
        brand.append(i.text)
    for i in product_tags:
        product.append(i.text)
    for i in price_tags:
        price.append(i.text)
    for i in discount_tags:
        discount.append(i.text)
    next_btn = driver.find_element_by_xpath('//a[@class="_1LKTO3"]')
      
# Make DataFrame for first 100 rows 
Data = pd.DataFrame()
Data['Brand'] = brand [0:100]
Data['Product'] = product [0:100]
Data['Price'] = price [0:100]
Data['Discount'] = discount [0:100]
Data

,Brand,Product,Price,Discount
0,RapidBox,Sneakers For Men,₹680,31% off
1,Noztile,Sneakers For Men,₹399,80% off
2,Magnolia,Super Stylish & Trendy Combo Pack of 02 Pairs ...,₹448,55% off
3,Chevit,Sneakers For Men,₹649,59% off
4,TR,Sneakers For Men,₹341,65% off
...,...,...,...,...
95,Varito,Shark-41 Sneakers For Men,₹499,77% off
96,URBANBOX,Men White Solid Sneakers Sneakers For Men,₹198,80% off
97,corsac,Combo Pack Of 2 Latest Stylish Casual Shoes fo...,₹449,70% off
98,BRUTON,Modern & Trendy Collection Combo Pack of 02 Sh...,₹299,76% off
99,Roadster,Casual Trendy Sneaker Casual Shoes For Men Sne...,"₹1,299",53% off

Q7: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, as shown inthe below image.
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
description, price of the shoe as shown in the below image.

Note: Applying the filter and scraping the data, everything should be done through code only and there
should not be any manual step.

In [70]:
url = 'https://www.myntra.com/shoes'
driver.get(url)

In [75]:
# finding web element using for color bar using 
color = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[1]/label/div')
color.click()

In [76]:
# click on price
price = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
price.click()

In [78]:
brand = []            # empty list
Shoe_description = [] # empty list
price = []            # empty list

# using for loop for next page 
for j in range(2):
    # let's extract all web elements tags
    brand_tags = driver.find_elements_by_xpath('//h3[@class="product-brand"]')
    Shoe_description_tags = driver.find_elements_by_xpath('//h4[@class="product-product"]')
    price_tags = driver.find_elements_by_xpath('//div[@class="product-price"]')
    for i in brand_tags:
        brand.append(i.text)
    for i in Shoe_description_tags:
        Shoe_description.append(i.text)
    for i in price_tags:
        price.append(i.text)
    next_btn = driver.find_element_by_xpath('//A[@rel="next"]').click()
# Make DataFrame for first 100 rows 
Data = pd.DataFrame()
Data['Brand'] = brand [0:100]
Data['Shoe_description'] = Shoe_description [0:100]
Data['Price'] = price [0:100]
Data

,Brand,Shoe_description,Price
0,Sole To Soul,High-Top Block Heeled Boots,Rs. 7900
1,Sole To Soul,Women Block Heeled Boots,Rs. 8900
2,Sole To Soul,Suede High-Top Block Heeled Boots,Rs. 9500
3,ROSSO BRUNELLO,,Rs. 8499
4,New Balance,Women Woven Running Shoes,Rs. 7799Rs. 12999(40% OFF)
...,...,...,...
95,Saint G,Leather Platform Heeled Boots,Rs. 9265Rs. 10900(15% OFF)
96,Saint G,Leather Block Heeled Boots with Bows,Rs. 11815Rs. 13900(15% OFF)
97,DAVINCHI,Men Textured Formal Leather Loafers,Rs. 8990
98,Saint G,Suede Party High-Top Block Heeled Boots,Rs. 8925Rs. 10500(15% OFF)
99,DAVINCHI,Men Solid Leather Formal Derbys,Rs. 9990

Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price
As shown in the below image as the tick marked attributes.

Note: All the steps required during scraping should be done through code only and not manually

In [85]:
url = 'https://www.amazon.in/'
driver.get(url)

In [86]:
# write on product in search bar
search_product = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search_product.send_keys('Laptop')
# click on search bar button
search_btn = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search_btn.click()

# select cpu 
cpu = driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[5]/li[11]/span/a/div/label/i')
cpu.click()

# let's extract all web elements tags
title_tags = driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')
rating_tags = driver.find_elements_by_xpath('//div[@class="a-row a-size-small"]')
price_tags = driver.find_elements_by_xpath('//span[@class="a-price"]')

title = []  # empty list
rating = [] # empty list
price = []  # empty list
# used for loop
for i in title_tags:
    title.append(i.text)
for i in rating_tags:
    rating.append(i.text)
for i in price_tags:
    price.append(i.text)
# Make DataFrame for first 10 rows 
Data = pd.DataFrame()
Data['Title'] = title [0:10]
Data['Rating'] = rating [0:10]
Data['price'] =price [0:10]
Data

                                               Title Rating      price
0  Mi Notebook Ultra 3.2K Resolution Display Inte...    901    ₹77,499
1  LG Gram 16 Ultra-Light Intel Evo 11th Gen Core...     84    ₹85,990
2  ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...     21    ₹57,490
3  Mi Notebook Ultra 3.2K Resolution Display Inte...    901    ₹77,499
4  HP Pavilion x360 11th Gen Intel Core i7 14 inc...     75    ₹91,800
5  ASUS TUF Gaming F17 (2022), 17.3-inch (43.94 c...     44  ₹1,35,990
6  Microsoft Surface Studio 14.4 inches Touchscre...      3  ₹3,73,999
7  ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...     37    ₹89,490
8  (Renewed) Acer Nitro 5 11th Gen Intel Core i5-...      9    ₹62,990
9  Lenovo ThinkBook Yoga 14s Intel Core i7 11th G...      2    ₹87,990

Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter
“Data Scientist” and click on search button.

4. You will reach to the following web page click on location and in place of “Search location” enter
“Noida” and select location “Noida”.
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data.
Note: All the steps required during scraping should be done through code only and not manually.

In [94]:
url = 'https://www.ambitionbox.com/'
driver.get(url)

In [95]:
# first of click on jobs
job_btn = driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[6]').click()

# write on job in Search bar
search_job = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/div/span/input')
search_job.send_keys('Data Scientist')

# click using xpath function for search bar button
search_btn = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/button')
search_btn.click()

In [96]:
# click on location filter bar
locn_filter = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[1]/p')
locn_filter.click()

In [97]:
# click on location
locn_btn = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[8]/div/label')
locn_btn.click()

In [98]:
# let's extract all web elements tags
company_tags= driver.find_elements_by_xpath('//p[@class="company body-medium"]')
ago_tags = driver.find_elements_by_xpath('//span[@class="body-small-l"]')
rating_tags = driver.find_elements_by_xpath('//span[@class="body-small"]')

company_name = [] # empty list
ago = []          # empty list
rating = []       # empty list

# used for loop
for i in company_tags:
    company_name.append(i.text)
for i in ago_tags:
    ago.append(i.text)
ago1 = ago[0:20:2]
for i in rating_tags:
    rating.append(i.text)
    
# Make DataFrame for first 10 rows 
data = pd.DataFrame()
data['Company_Name'] = company_name [0:10]
data['No Of Days Ago'] = ago1 [0:10]
data['Rating'] = rating [0:10]
data

                                        Company_Name No Of Days Ago Rating
0  NTT DATA GLOBAL DELIVERY SERVICES PRIVATE LIMITED         7d ago    3.9
1                           HCL Technologies Limited         9d ago    3.8
2     Optum Global Solutions (India) Private Limited        19d ago    4.1
3              WSP CONSULTANTS INDIA PRIVATE LIMITED         9d ago    4.2
4                  Microsoft India (R and D) Pvt Ltd        20d ago    4.2
5                               HCL Technologies Ltd        17d ago    3.8
6                         Jubilant Foodworks Limited         7d ago    3.9
7                                   HCL Technologies        24d ago    3.8
8               RATEGAIN TRAVEL TECHNOLOGIES LIMITED         2d ago    3.8
9                    Hanu Software Solutions Pvt Ltd         9d ago    3.7

Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.
The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image.
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and
then click on “Data Scientist”.
You have to scrape the data ticked in the above image.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average
salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.
Note: All the steps required during scraping should be done through code only and not manually

In [99]:
url = 'https://www.ambitionbox.com/'
driver.get(url)

In [100]:
# clicking on salary button 
salary_btn = driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[4]')
salary_btn.click()

# write on job in profile bar
job_profile = driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
job_profile.send_keys('Data Scientist')

In [101]:
# clicking using xpath function for Data_scientist
Data_scientist = driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]')
Data_scientist.click()

In [102]:
# let's extract all web elements tags
company_tags = driver.find_elements_by_xpath('//a[@data-v-2bae05f7]')
salary_record_tags = driver.find_elements_by_xpath('//span[@data-v-2bae05f7]')
experience_tags = driver.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]')
average_salary_tags = driver.find_elements_by_xpath('//p[@class="averageCtc"]')
minimum_salary_tags = driver.find_elements_by_xpath('//div[@class="value body-medium"]')
maximum_salary_tags = driver.find_elements_by_xpath('//div[@class="value body-medium"]')


company=[]            # empty list
salary_record = []    # empty list 
experience = []       # empty list
average_salary = []   # empty list
minimum_salary = []   # empty list
maximum_salary = []   # empty list

# Using for loop to convert data to text.
for i in company_tags:
    company.append(i.text)
for i in salary_record_tags:
    salary_record.append(i.text.replace('.',''))
for i in experience_tags:
    experience.append(i.text.replace('Data Scientist\n . \n',''))
for i in average_salary_tags:
    average_salary.append(i.text)
for i in minimum_salary_tags:
    minimum_salary.append(i.text)
m = (minimum_salary)
minimum = m[0:20:2]
minimum

for i in maximum_salary_tags:
    maximum_salary.append(i.text)
ma = (maximum_salary)
maximum = ma[1:20:2]
maximum

# Make DataFrame for first 10 rows 
Data = pd.DataFrame()
Data['Company'] = company [0:10]
Data['Salary Record'] = salary_record [0:10]
Data['Experience'] = experience [0:10]
Data['Average Salary'] = average_salary [0:10]
Data['Minimum Salary'] = minimum [0:10]
Data['Maximum Salary'] = maximum [0:10]
Data

,Company,Salary Record,Experience,Average Salary,Minimum Salary,Maximum Salary
0,Ab Inbev,based on 28 salaries,3-4 yrs exp,₹ 20.3L,₹ 15.0L,₹ 25.5L
1,ZS,,2 yrs exp,₹ 15.3L,₹ 9.5L,₹ 20.0L
2,Optum,based on 15 salaries,3-4 yrs exp,₹ 15.1L,₹ 11.0L,₹ 21.3L
3,Fractal Analytics,,2-4 yrs exp,₹ 15.1L,₹ 9.5L,₹ 22.0L
4,Tiger Analytics,based on 25 salaries,3-4 yrs exp,₹ 14.4L,₹ 8.3L,₹ 20.0L
5,UnitedHealth,,2-4 yrs exp,₹ 13.9L,₹ 8.3L,₹ 20.5L
6,Verizon,based on 77 salaries,4 yrs exp,₹ 12.7L,₹ 10.0L,₹ 21.0L
7,Ganit Business Solutions,,4 yrs exp,₹ 12.4L,₹ 8.5L,₹ 15.0L
8,Ericsson,based on 33 salaries,3-4 yrs exp,₹ 11.9L,₹ 5.8L,₹ 24.0L
9,Deloitte,,2-4 yrs exp,₹ 11.7L,₹ 6.9L,₹ 23.4L